body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    }

/* Header Start */

header {
    padding: 0 0;
    margin: 0 0;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    margin-left: 10px;
    margin-right:10px;
}

header nav {
    margin: 0 10px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
}
/* Header End */

/* About Me Start */



#about-me h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}
#about-me img {
    margin-top: 10px;
    height: 450px;
    width: 450px;
}

#about-me p {
    width: 25%;
    text-align: center;
    margin-left: 25px;
    margin-top: 50px;
}

.bio {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Projects Start */
#projects h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}

.project-card-container-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-card-container-B {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

/* Projects End *?

/* Contact Start */
#contact-information h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}

#contact-information ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#contact-information ul li a {
    margin: 0 25px;
    text-decoration: none;
    color: black;
}
/* Contact End */

/* Footer Start */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer End */

/*Media Query Start*/

@media screen and (max-width: 980px) {
    
}