body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    }

/* Header Start */

header {
    padding: 0 0;
    margin: 0 0;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    margin-left: 20px;
    margin-right:10px;
}

header nav {
    margin: 0 10px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
}
/* Header End */

/* About Me Start */

#about-me h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}
#about-me img {
    margin-top: 10px;
    height: 450px;
    width: 450px;
}

#about-me p {
    width: 25%;
    text-align: center;
    margin-left: 25px;
    margin-top: 25px;
}

.bio {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* About Me End /*

/* Projects Start */
#projects h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}

.project-card-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-card-A h3 {
    text-align: center;
    position: relative;
    bottom: 100px;
    margin: 0;
    background-color: cyan;
    color: black;
    text-decoration: underline;   
}

.project-card-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.project-card-B h3, .project-card-C h3, .project-card-D h3, .project-card-E h3, .project-card-F h3 {
    text-align: center;
    position: relative;
    bottom: 75px;
    margin: 0;
    background-color: cyan;
    color: black;
    text-decoration: underline;
}
/* Projects End */

/* Contact Start */
#contact-information h2 {
    background-color: grey;
    width: 100%;
    text-align: center;
}

#contact-information ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

#contact-information ul li a {
    margin: 0 25px;
    text-decoration: none;
    color: black;
}
/* Contact End */

/* Footer Start */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer End */

/*Media Query Start*/

@media screen and (max-width: 980px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .project-card-container-1 img {
        width: 800px;
        height: 500px
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .project-card-container-1 img {
        width: 600px;
        height: 600px
    }

    #about-me p {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 0;
        width: 75%;
    }
}

@media screen and (max-width: 575px) {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
    }

    header nav ul {
        display: block;
        text-align: center;

    }

    #about-me img {
        width: 400px;
        height: 400px;
    }
    .project-card-container-1 img {
        width: 400px;
        height: 400px;
    }

    .project-card-container-2 img {
        width: 350px;
        height: 350px;
    }

    #about-me p {
        width: 50%;
        font-size: 16px;
        margin: 0;
    }
}

@media screen and (max-width: 376px) {

    header {
        display: flex;
         flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
    }
    
    header nav ul {
    display: block;
    text-align: center;
    }
    
    .project-card-container-1 img {
    width: 300px;
    height: 300px;
    }
    
    .project-card-container-2 img {
        width: 250px;
        height: 250px;
    }
    
    #about-me p {
        width: 50%;
        font-size: 16px;
        margin: 0;
    }

    #about-me img {
        width: 350px;
        height: 350px;
    }
}

/* Media Query End